/* src/styles/global.css */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('/public/images/MindArc_Background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #aaa;

  width: 100vw;        /* Ensure full viewport width */
  overflow-x: hidden;  /* Prevent horizontal scroll */
}

